header{
    display: flex;
    height:30vh;
    width:100%;
    align-items: center;
    flex-direction: column;
}
    
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-bottom: 800px;
}

footer{
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1000px;
}